In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movie = pd.read_csv(r"C:\Users\DIGIMAHAN\Desktop\dataset csv\movies.csv")
movie.sample(4)

,movieId,title,genres
21056,102415,Hyenas (Hyènes) (1992),Comedy|Drama
27627,128203,"Lightning, the White Stallion (1986)",Adventure|Children
21273,103255,Dirty Wars (2013),Documentary|War
17896,89664,Photos in the City of Sylvia (Unas fotos en la...,Documentary

In [3]:
rating = pd.read_csv(r"C:\Users\DIGIMAHAN\Desktop\dataset csv\ratings.csv")
rating.sample(3)

         userId  movieId  rating   timestamp
2479098   26780      466     4.0  1284984352
1628058   17383      475     3.5  1334799962
1249897   13329     3617     3.0   981132683

In [4]:
movie['year']=movie.title.str.extract('(\(\d\d\d\d\))')
movie['year']=movie.year.str.extract('(\d\d\d\d)')
movie['title']=movie.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movie['title']=movie['title'].apply(lambda x:x.strip())

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\('
C:\Users\DIGIMAHAN\AppData\Local\Temp\ipykernel_6060\2242016959.py:1: SyntaxWarning: invalid escape sequence '\('
  movie['year']=movie.title.str.extract('(\(\d\d\d\d\))')
C:\Users\DIGIMAHAN\AppData\Local\Temp\ipykernel_6060\2242016959.py:2: SyntaxWarning: invalid escape sequence '\d'
  movie['year']=movie.year.str.extract('(\d\d\d\d)')
C:\Users\DIGIMAHAN\AppData\Local\Temp\ipykernel_6060\2242016959.py:3: SyntaxWarning: invalid escape sequence '\('
  movie['title']=movie.title.str.replace('(\(\d\d\d\d\))','',regex=True)

In [5]:
movie = movie.drop('genres',axis=1)      
movie.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [6]:
rating = rating.drop('timestamp',axis=1)
rating.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [7]:
userinput=[{"title":'Breakfast Club, The','rating':5},
            {"title":'Toy Story','rating':3.5},
            {"title":'Jumanji','rating':2},
            {"title":'Pulp Fiction','rating':5},
            {"title":'Now and Then','rating':4.5}]

In [8]:
inputmovies=pd.DataFrame(userinput)
inputmovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4         Now and Then     4.5

In [9]:
inputid=movie[movie["title"].isin(inputmovies["title"].tolist())]
inputmovies=pd.merge(inputid,inputmovies)
inputmovies=inputmovies.drop("year",axis=1)
inputmovies.head()

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2       27         Now and Then     4.5
3      296         Pulp Fiction     5.0
4     1968  Breakfast Club, The     5.0

In [10]:
usersubset=rating[rating['movieId'].isin(inputmovies["movieId"].tolist())]
usersubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
681      14      296     2.0
749      15        1     4.0

In [11]:
usersubsetgroup =usersubset.groupby(["userId"])
usersubsetgroup.get_group(1130)

C:\Users\DIGIMAHAN\AppData\Local\Temp\ipykernel_6060\3321009229.py:2: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  usersubsetgroup.get_group(1130)

        userId  movieId  rating
104167    1130        1     0.5
104168    1130        2     4.0
104214    1130      296     4.0
104443    1130     1968     4.5

In [12]:
usersubsetgroup=sorted(usersubsetgroup,key=lambda x:len(x[1]),reverse=True)

In [13]:
usersubsetgroup[0:100]

[((373,),
         userId  movieId  rating
  31219     373        1     4.0
  31220     373        2     1.5
  31233     373       27     2.0
  31298     373      296     4.5
  31629     373     1968     3.0),
 ((815,),
         userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73766     815       27     2.5
  73922     815      296     5.0
  74678     815     1968     4.5),
 ((2204,),
          userId  movieId  rating
  198937    2204        1     5.0
  198938    2204        2     3.0
  198949    2204       27     3.0
  198998    2204      296     5.0
  199222    2204     1968     4.0),
 ((2596,),
          userId  movieId  rating
  237718    2596        1     3.5
  237719    2596        2     2.5
  237726    2596       27     3.5
  237777    2596      296     4.5
  238028    2596     1968     3.5),
 ((4208,),
          userId  movieId  rating
  387004    4208        1     4.0
  387005    4208        2     2.0
  387022    4208       27     3.0
  387119    4208      296     2.0
  387575    4208     1968     4.0),
 ((4415,),
          userId  movieId  rating
  408738    4415        1     4.5
  408739    4415        2     3.5
  408755    4415       27     3.0
  408844    4415      296     5.0
  409343    4415     1968     3.0),
 ((6199,),
          userId  movieId  rating
  573133    6199        1     4.5
  573134    6199        2     3.0
  573142    6199       27     3.5
  573201    6199      296     4.0
  573481    6199     1968     5.0),
 ((8405,),
          userId  movieId  rating
  777131    8405        1     5.0
  777132    8405        2     4.0
  777139    8405       27     2.0
  777199    8405      296     5.0
  777548    8405     1968     5.0),
 ((9658,),
          userId  movieId  rating
  884863    9658        1     3.5
  884864    9658        2     3.0
  884873    9658       27     3.0
  884911    9658      296     4.5
  885169    9658     1968     3.5),
 ((10505,),
          userId  movieId  rating
  973557   10505        1     4.0
  973558   10505        2     4.0
  973566   10505       27     4.0
  973605   10505      296     5.0
  973993   10505     1968     4.0),
 ((11284,),
           userId  movieId  rating
  1044894   11284        1     5.0
  1044895   11284        2     4.0
  1044903   11284       27     4.0
  1044948   11284      296     5.0
  1045238   11284     1968     3.0),
 ((11523,),
           userId  movieId  rating
  1068182   11523        1     5.0
  1068183   11523        2     4.0
  1068197   11523       27     3.5
  1068261   11523      296     4.5
  1068593   11523     1968     5.0),
 ((12616,),
           userId  movieId  rating
  1177710   12616        1     4.0
  1177711   12616        2     4.0
  1177715   12616       27     3.5
  1177743   12616      296     3.0
  1177909   12616     1968     3.5),
 ((13053,),
           userId  movieId  rating
  1224899   13053        1     4.0
  1224900   13053        2     3.0
  1224911   13053       27     2.0
  1224979   13053      296     4.5
  1225350   13053     1968     4.5),
 ((13604,),
           userId  movieId  rating
  1274692   13604        1     5.0
  1274693   13604        2     4.0
  1274696   13604       27     5.0
  1274722   13604      296     4.0
  1274830   13604     1968     5.0),
 ((13654,),
           userId  movieId  rating
  1279183   13654        1     3.5
  1279184   13654        2     3.0
  1279196   13654       27     3.0
  1279260   13654      296     5.0
  1279616   13654     1968     4.5),
 ((14532,),
           userId  movieId  rating
  1355864   14532        1     4.5
  1355865   14532        2     3.5
  1355870   14532       27     4.0
  1355909   14532      296     4.5
  1356163   14532     1968     4.5),
 ((14572,),
           userId  movieId  rating
  1361231   14572        1     3.5
  1361232   14572        2     2.5
  1361246   14572       27     1.5
  1361314   14572      296     4.0
  1361687   14572     1968     4.5),
 ((15209,),
           userId  movieId  rating
  1423080   15209        1     4.0
  1423081   15209        2     4.0
  1423090   15209       27     2.5
  1423147   15209      296     3.0
  1423417   15209     1968     4.5),
 ((16499,),
           userId  movieId  rating
  1548775   16499        1     4.0
  1548776   16499        2     2.0
  1548786   16499       27     2.0
  1548835   16499      296     5.0
  1549086   16499     1968     5.0),
 ((19208,),
           userId  movieId  rating
  1798213   19208        1     4.0
  1798214   19208        2     2.0
  1798229   19208       27     2.5
  1798318   19208      296     3.0
  1798764   19208     1968     4.0),
 ((19495,),
           userId  movieId  rating
  1820651   19495        1     3.5
  1820652   19495        2     3.0
  1820666   19495       27     4.5
  1820797   19495      296     4.0
  1821401   19495     1968     4.0),
 ((21844,),
           userId  movieId  rating
  2026679   21844        1     4.0
  2026680   21844        2     3.5
  2026687   21844       27     3.0
  2026728   21844      296     5.0
  2026983   21844     1968     4.0),
 ((23332,),
           userId  movieId  rating
  2160413   23332        1     3.5
  2160414   23332        2     2.0
  2160425   23332       27     2.0
  2160496   23332      296     3.0
  2160875   23332     1968     3.5),
 ((23448,),
           userId  movieId  rating
  2177003   23448        1     4.0
  2177004   23448        2     5.0
  2177019   23448       27     3.0
  2177131   23448      296     5.0
  2177791   23448     1968     5.0),
 ((23696,),
           userId  movieId  rating
  2204131   23696        1     5.0
  2204132   23696        2     1.0
  2204152   23696       27     3.0
  2204276   23696      296     4.0
  2204797   23696     1968     3.0),
 ((23759,),
           userId  movieId  rating
  2212660   23759        1     4.0
  2212661   23759        2     3.0
  2212662   23759       27     3.0
  2212678   23759      296     4.0
  2212749   23759     1968     3.0),
 ((23896,),
           userId  movieId  rating
  2224265   23896        1     4.0
  2224266   23896        2     3.0
  2224274   23896       27     4.5
  2224299   23896      296     3.5
  2224410   23896     1968     5.0),
 ((23906,),
           userId  movieId  rating
  2225309   23906        1     4.0
  2225310   23906        2     3.0
  2225325   23906       27     3.0
  2225421   23906      296     4.0
  2225870   23906     1968     4.0),
 ((25380,),
           userId  movieId  rating
  2351987   25380        1     5.0
  2351988   25380        2     3.0
  2351996   25380       27     4.0
  2352046   25380      296     5.0
  2352256   25380     1968     5.0),
 ((26274,),
           userId  movieId  rating
  2436933   26274        1     5.0
  2436934   26274        2     3.5
  2436940   26274       27     4.0
  2436982   26274      296     4.5
  2437243   26274     1968     4.5),
 ((26420,),
           userId  movieId  rating
  2446361   26420        1     3.0
  2446362   26420        2     3.5
  2446363   26420       27     3.5
  2446372   26420      296     4.0
  2446456   26420     1968     5.0),
 ((26587,),
           userId  movieId  rating
  2461936   26587        1     5.0
  2461937   26587        2     4.0
  2461951   26587       27     3.0
  2462018   26587      296     5.0
  2462408   26587     1968     5.0),
 ((26706,),
           userId  movieId  rating
  2472114   26706        1     5.0
  2472115   26706        2     2.0
  2472129   26706       27     3.0
  2472215   26706      296     5.0
  2472572   26706     1968     4.0),
 ((27184,),
           userId  movieId  rating
  2507639   27184        1     0.5
  2507640   27184        2     0.5
  2507642   27184       27     2.0
  2507661   27184      296     3.5
  2507769   27184     1968     4.0),
 ((27592,),
           userId  movieId  rating
  2547195   27592        1     5.0
  2547196   27592        2     3.0
  2547206   27592       27     3.0
  2547262   27592      296     5.0
  2547579   27592     1968     5.0),
 ((29218,),
           userId  movieId  rating
  2688301   29218        1     3.5
  2688302   29218        2     3.5
  2688326   29218       27     3.0
  2688480   29218      296     5.0
  2689175   29218     1968     4.5),
 ((30953,),
           userId  movieId  rating
  2855241   30953        1     4.0
  2855242   30953        2     3.0
  2855249   30953       27     2.0
  2855289   30953      296     4.5
  2855513   30953     1968     4.0),
 ((31466,),
           userId  movieId  rating
  2901393   31466        1     3.5
  2901394   31466        2     4.0
  2901397   31466       27     3.5
  2901421   31466      296     4.0
  2901588   31466     1968     4.0),
 ((31812,),
           userId  movieId  rating
  2936463   31812        1     5.0
  2936464   31812        2     4.0
  2936475   31812       27     3.5
  2936550   31812      296     5.0
  2936895   31812     1968     5.0),
 ((32738,),
           userId  movieId  rating
  3018425   32738        1     3.0
  3018426   32738        2     4.0
  3018444   32738       27     3.0
  3018586   32738      296     5.0
  3019275   32738     1968     3.5),
 ((32962,),
           userId  movieId  rating
  3039044   32962        1     4.0
  3039045   32962        2     4.0
  3039057   32962       27     3.0
  3039126   32962      296     5.0
  3039463   32962     1968     5.0),
 ((34978,),
           userId  movieId  rating
  3210614   34978        1     3.5
  3210615   34978        2     3.0
  3210619   34978       27     4.5
  3210651   34978      296     3.0
  3210789   34978     1968     4.5),
 ((35381,),
           userId  movieId  rating
  3252756   35381        1     4.0
  3252757   35381        2     3.5
  3252760   35381       27     3.5
  3252794   35381      296     5.0
  3252932   35381     1968     4.0),
 ((36946,),
           userId  movieId  rating
  3402635   36946        1     5.0
  3402636   36946        2     3.0
  3402658   36946       27     0.5
  3402781   36946      296     4.0
  3403399   36946     1968     4.0),
 ((37487,),
           userId  movieId  rating
  3461176   37487        1     5.0
  3461177   37487        2     1.0
  3461185   37487       27     3.0
  3461248   37487      296     4.0
  3461595   37487     1968     4.0),
 ((38450,),
           userId  movieId  rating
  3554476   38450        1     5.0
  3554477   38450        2     3.5
  3554492   38450       27     2.5
  3554597   38450      296     4.0
  3555159   38450     1968     4.0),
 ((38957,),
           userId  movieId  rating
  3600847   38957        1     4.5
  3600848   38957        2     4.0
  3600856   38957       27     2.0
  3600907   38957      296     4.5
  3601184   38957     1968     4.5),
 ((39123,),
           userId  movieId  rating
  3617119   39123        1     4.0
  3617120   39123        2     4.0
  3617135   39123       27     3.5
  3617198   39123      296     5.0
  3617492   39123     1968     3.5),
 ((39163,),
           userId  movieId  rating
  3621599   39163        1     1.0
  3621600   39163        2     2.0
  3621616   39163       27     2.0
  3621683   39163      296     5.0
  3622103   39163     1968     1.0),
 ((39273,),
           userId  movieId  rating
  3631794   39273        1     4.0
  3631795   39273        2     2.5
  3631810   39273       27     3.0
  3631899   39273      296     4.5
  3632344   39273     1968     4.0),
 ((40529,),
           userId  movieId  rating
  3754099   40529        1     4.0
  3754100   40529        2     3.5
  3754104   40529       27     3.5
  3754127   40529      296     5.0
  3754276   40529     1968     4.5),
 ((41787,),
           userId  movieId  rating
  3866666   41787        1     4.0
  3866667   41787        2     3.0
  3866669   41787       27     3.5
  3866685   41787      296     4.0
  3866840   41787     1968     5.0),
 ((41886,),
           userId  movieId  rating
  3876184   41886        1     3.5
  3876185   41886        2     2.0
  3876196   41886       27     3.0
  3876279   41886      296     4.5
  3876621   41886     1968     3.5),
 ((17,),
        userId  movieId  rating
  1247      17        1     5.0
  1248      17        2     3.0
  1333      17      296     2.0
  1851      17     1968     3.0),
 ((75,),
        userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7673      75     1968     5.0),
 ((106,),
        userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9238     106     1968     3.5),
 ((114,),
         userId  movieId  rating
  10278     114        1     3.0
  10279     114        2     1.0
  10330     114      296     2.0
  10611     114     1968     3.0),
 ((222,),
         userId  movieId  rating
  20385     222        1     4.0
  20386     222        2     4.0
  20407     222      296     4.0
  20495     222     1968     4.0),
 ((241,),
         userId  movieId  rating
  21830     241        1     5.0
  21831     241        2     3.5
  21849     241      296     2.5
  22051     241     1968     3.5),
 ((277,),
         userId  movieId  rating
  24807     277        1     5.0
  24808     277        2     3.0
  24885     277      296     5.0
  25192     277     1968     5.0),
 ((340,),
         userId  movieId  rating
  28926     340        1     5.0
  28927     340        2     3.0
  28937     340      296     5.0
  29038     340     1968     5.0),
 ((407,),
         userId  movieId  rating
  36491     407        1     5.0
  36492     407        2     2.5
  36532     407      296     4.5
  36786     407     1968     4.0),
 ((432,),
         userId  movieId  rating
  38657     432        1     4.0
  38658     432        2     3.5
  38693     432      296     4.5
  38863     432     1968     4.0),
 ((447,),
         userId  movieId  rating
  39869     447        1     3.0
  39870     447        2     3.0
  39905     447      296     3.5
  40108     447     1968     3.0),
 ((461,),
         userId  movieId  rating
  41429     461        1     5.0
  41430     461        2     2.0
  41451     461      296     5.0
  41588     461     1968     4.0),
 ((479,),
         userId  movieId  rating
  42423     479        1     2.5
  42424     479        2     4.5
  42437     479      296     3.0
  42502     479     1968     1.5),
 ((534,),
         userId  movieId  rating
  46467     534        1     2.5
  46468     534        2     2.0
  46489     534      296     5.0
  46580     534     1968     3.5),
 ((558,),
         userId  movieId  rating
  49033     558        1     4.0
  49034     558        2     2.0
  49074     558      296     5.0
  49303     558     1968     4.0),
 ((584,),
         userId  movieId  rating
  51368     584        1     5.0
  51369     584        2     4.5
  51435     584      296     5.0
  51738     584     1968     4.0),
 ((670,),
         userId  movieId  rating
  58926     670        1     5.0
  58927     670        2     4.0
  58997     670      296     5.0
  59382     670     1968     4.0),
 ((686,),
         userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61569     686     1968     5.0),
 ((774,),
         userId  movieId  rating
  69407     774        1     2.0
  69408     774        2     3.0
  69418     774       27     4.0
  69704     774     1968     5.0),
 ((784,),
         userId  movieId  rating
  70519     784        1     4.5
  70520     784        2     3.0
  70568     784      296     5.0
  70771     784     1968     5.0),
 ((899,),
         userId  movieId  rating
  84681     899        1     4.0
  84682     899        2     2.5
  84719     899      296     5.0
  84892     899     1968     4.0),
 ((904,),
         userId  movieId  rating
  85172     904        1     4.0
  85173     904        2     4.0
  85191     904      296     4.5
  85297     904     1968     5.0),
 ((927,),
         userId  movieId  rating
  86904     927        1     3.5
  86905     927        2     2.5
  86949     927      296     4.5
  87164     927     1968     3.0),
 ((1040,),
         userId  movieId  rating
  96689    1040        1     3.0
  96690    1040        2     1.5
  96733    1040      296     3.5
  96922    1040     1968     4.0),
 ((1107,),
          userId  movieId  rating
  102724    1107        1     3.0
  102725    1107        2     2.0
  102754    1107      296     4.5
  102862    1107     1968     3.5),
 ((1130,),
          userId  movieId  rating
  104167    1130        1     0.5
  104168    1130        2     4.0
  104214    1130      296     4.0
  104443    1130     1968     4.5),
 ((1152,),
          userId  movieId  rating
  106227    1152        1     2.5
  106228    1152        2     3.5
  106251    1152      296     4.0
  106356    1152     1968     4.0),
 ((1200,),
          userId  movieId  rating
  110608    1200        1     2.0
  110609    1200        2     1.0
  110621    1200      296     4.0
  110717    1200     1968     3.0),
 ((1204,),
          userId  movieId  rating
  110818    1204        1     4.5
  110819    1204        2     3.5
  110897    1204      296     4.5
  111247    1204     1968     3.5),
 ((1255,),
          userId  movieId  rating
  116342    1255        1     3.0
  116343    1255        2     2.5
  116372    1255      296     3.5
  116476    1255     1968     3.5),
 ((1502,),
          userId  movieId  rating
  133876    1502        1     4.0
  133877    1502        2     3.5
  133917    1502      296     5.0
  134133    1502     1968     5.0),
 ((1519,),
          userId  movieId  rating
  135489    1519        1     3.0
  135490    1519        2     2.5
  135502    1519      296     4.5
  135564    1519     1968     4.5),
 ((1599,),
          userId  movieId  rating
  142722    1599        1     4.0
  142723    1599        2     4.0
  142810    1599      296     5.0
  143220    1599     1968     4.0),
 ((1607,),
          userId  movieId  rating
  144611    1607        1     5.0
  144612    1607        2     4.0
  144664    1607      296     3.0
  145034    1607     1968     3.0),
 ((1625,),
          userId  movieId  rating
  146811    1625        1     4.0
  146812    1625        2     3.5
  146867    1625      296     5.0
  147107    1625     1968     4.0),
 ((1629,),
          userId  movieId  rating
  147858    1629        1     4.5
  147859    1629        2     2.5
  147904    1629      296     5.0
  148120    1629     1968     4.0),
 ((1643,),
          userId  movieId  rating
  148989    1643        1     2.0
  148990    1643        2     2.5
  149035    1643      296     5.0
  149232    1643     1968     3.0),
 ((1848,),
          userId  movieId  rating
  169378    1848        1     5.0
  169379    1848        2     4.5
  169390    1848      296     4.0
  169470    1848     1968     4.0),
 ((1950,),
          userId  movieId  rating
  176143    1950        1     5.0
  176144    1950        2     4.0
  176186    1950      296     5.0
  176444    1950     1968     4.0),
 ((2065,),
          userId  movieId  rating
  185283    2065        1     3.0
  185284    2065        2     3.0
  185340    2065      296     4.0
  185575    2065     1968     3.0),
 ((2106,),
          userId  movieId  rating
  188093    2106        1     4.0
  188094    2106        2     3.5
  188142    2106      296     5.0
  188363    2106     1968     3.5),
 ((2108,),
          userId  movieId  rating
  188753    2108        1     4.0
  188754    2108        2     2.5
  188790    2108      296     5.0
  189079    2108     1968     3.5),
 ((2115,),
          userId  movieId  rating
  189962    2115        1     5.0
  189963    2115        2     3.5
  189987    2115      296     4.0
  190124    2115     1968     5.0),
 ((2128,),
          userId  movieId  rating
  191789    2128        1     3.0
  191790    2128        2     4.0
  191830    2128      296     4.5
  191979    2128     1968     5.0),
 ((2130,),
          userId  movieId  rating
  192491    2130        1     4.0

In [14]:
from math import sqrt

In [34]:
pearsoncor ={}
for name,group in usersubsetgroup:
    if isinstance(name, tuple):
        name = name[0]
    group=group.sort_values(by='movieId')
    nratings =len(group)
    temp_df=inputmovies[inputmovies['movieId'].isin(group["movieId"].tolist())]
    tempratinglist=temp_df["rating"].tolist()
    tempgrouplist=group["rating"].tolist()
    sxx=sum([i**2 for i in tempratinglist])-pow(sum(tempratinglist),2)/float(nratings)
    syy=sum([i**2 for i in tempgrouplist])-pow(sum(tempgrouplist),2)/float(nratings)
    sxy=sum(i*j for i,j in zip(tempratinglist,tempgrouplist))-sum(tempratinglist)*sum(tempgrouplist)/float(nratings)
    if sxx!=0 and syy!=0:
        pearsoncor[name]=sxy/sqrt(sxx*syy)
    else:
        pearsoncor[name]=0

In [39]:
pearsondf = pd.DataFrame.from_dict(pearsoncor,orient='index')
pearsondf.columns=["similarity"]
pearsondf["userId"]=pearsondf.index
pearsondf.index = range(len(pearsondf))
pearsondf.head()

   similarity  userId
0    0.538462     373
1    0.452308     815
2    0.392232    2204
3    0.832050    2596
4    0.294174    4208

In [40]:
topuser = pearsondf.sort_values(by='similarity',ascending=False)[0:50]
topuser

      similarity  userId
1369         1.0    8051
3172         1.0   39386
1725         1.0   13898
1694         1.0   13376
3077         1.0   37463
1579         1.0   11596
1510         1.0   10372
2984         1.0   36011
3324         1.0   42025
1881         1.0   16326
1423         1.0    8902
2985         1.0   36019
985          1.0     707
3227         1.0   40314
2280         1.0   23330
3246         1.0   40611
1819         1.0   15421
2781         1.0   32451
2786         1.0   32518
1466         1.0    9749
3226         1.0   40297
2587         1.0   29143
1979         1.0   17971
2108         1.0   20192
3127         1.0   38302
1011         1.0    1213
1142         1.0    3699
1439         1.0    9093
3224         1.0   40281
3030         1.0   36820
2219         1.0   22251
1603         1.0   11907
1638         1.0   12512
2713         1.0   31330
1990         1.0   18163
3120         1.0   38180
2569         1.0   28816
3154         1.0   38935
2096         1.0   19924
2382         1.0   25033
3307         1.0   41733
1050         1.0    1898
1146         1.0    3843
3027         1.0   36775
1167         1.0    4145
3069         1.0   37356
1126         1.0    3408
1895         1.0   16549
1364         1.0    7984
2946         1.0   35325

In [18]:
print(topuser['userId'].dtype)
print(rating['userId'].dtype)

print(topuser['userId'].head())
print(rating['userId'].head())

object
int64
1369     (8051,)
3172    (39386,)
1725    (13898,)
1694    (13376,)
3077    (37463,)
Name: userId, dtype: object
0    1
1    1
2    1
3    2
4    2
Name: userId, dtype: int64

In [19]:
topuser['userId'] = topuser['userId'].apply(lambda x: x[0] if isinstance(x, tuple) else x)
topuser['userId'] = topuser['userId'].astype(int)

In [20]:
topuserrating=topuser.merge(rating,left_on="userId",right_on='userId',how='inner')
topuserrating.head()

   similarity  userId  movieId  rating
0         1.0    8051        1     3.5
1         1.0    8051        4     2.0
2         1.0    8051        5     1.0
3         1.0    8051       16     3.5
4         1.0    8051       32     3.0

In [21]:
topuserrating["weightedrating"]=topuserrating["similarity"]*topuserrating["rating"]
topuserrating.head()

   similarity  userId  movieId  rating  weightedrating
0         1.0    8051        1     3.5             3.5
1         1.0    8051        4     2.0             2.0
2         1.0    8051        5     1.0             1.0
3         1.0    8051       16     3.5             3.5
4         1.0    8051       32     3.0             3.0

In [22]:
topuserrating=topuserrating.groupby('movieId').sum()[["similarity",'weightedrating']]
topuserrating.columns=["sum_similarityindex",'sum_weightedrating']
topuserrating.head()

         sum_similarityindex  sum_weightedrating
movieId
1                       43.0               147.5
2                        7.0                21.0
3                        6.0                15.5
4                        4.0                 6.5
5                        9.0                21.5

In [23]:
recommendation=pd.DataFrame()
recommendation["weighted average recommendation score"]=topuserrating["sum_weightedrating"]/topuserrating["sum_similarityindex"]
recommendation["movieId"]=topuserrating.index
recommendation.head()

         weighted average recommendation score  movieId
movieId
1                                     3.430233        1
2                                     3.000000        2
3                                     2.583333        3
4                                     1.625000        4
5                                     2.388889        5

In [24]:
recommendation=recommendation.sort_values(by='weighted average recommendation score',ascending=False)
recommendation.head(10)

         weighted average recommendation score  movieId
movieId
1112                                       5.0     1112
932                                        5.0      932
3618                                       5.0     3618
3544                                       5.0     3544
3549                                       5.0     3549
45186                                      5.0    45186
5325                                       5.0     5325
927                                        5.0      927
929                                        5.0      929
1189                                       5.0     1189

In [26]:
movie.loc[movie["movieId"].isin(recommendation.head(10)["movieId"].tolist())]

       movieId                    title  year
910        927               Women, The  1939
912        929    Foreign Correspondent  1940
915        932   Affair to Remember, An  1957
1089      1112             Palookaville  1996
1165      1189      Thin Blue Line, The  1988
3454      3544         Shakes the Clown  1992
3459      3549           Guys and Dolls  1955
3528      3618        Small Time Crooks  2000
5229      5325       Dogtown and Z-Boyz  2001
11009    45186  Mission: Impossible III  2006